/*
  elm-hot creates an additional div wrapper around the app to make HMR possible.
  This could break styling in development mode if you are using Elm UI.

  More context in the issue:
    https://github.com/halfzebra/create-elm-app/issues/320
*/
[data-elm-hot="true"] {
    height: inherit;
}
:root {
    --h1-height: 42px;
}
html {
    height: 100%;
}
body {
    font-family: "Source Sans Pro", "Trebuchet MS", "Lucida Grande",
        "Bitstream Vera Sans", "Helvetica Neue", sans-serif;
    margin: 0;
    height: 100%;
}
.hidden {
    display: none;
}
.grid-container {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 5fr 1fr;
    text-align: center;
}
.grid-sidebar {
    display: grid;
    background-color: #60b5cc;
    color: #fff;
    grid-template-rows: 200px auto;
}
.grid-body {
    display: grid;
    grid-template-rows: 100px auto;
}
.body-title {
    display: flex;
    width: 100%;
    height: 100%;
    font-size: var(--h1-height);
    line-height: var(--h1-height);
    text-shadow: 0 0 10px #fff;
    margin: 0;
    align-items: center;
    justify-content: center;
    background-color: #f0ad00;
}
.body-content {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.todos-container {
    width: 100%;
}
.todos-heading {
    font-size: 35px;
}
input[type="text"] {
    width: 300px;
    line-height: 34px;
    font-size: 30px;
    text-align: center;
}
.todo-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}
.todo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    width: 400px;
    height: 60px;
    margin: 10px;
    font-size: 30px;
    background-color: #7fd13b;
    box-shadow: 0 0 10px #293c4b;
    overflow: auto;
}
.todo-icons {
    display: flex;
    justify-content: space-between;
    width: 60px;
}
.todo-icon {
    cursor: pointer;
}
.todo-container {
    margin-bottom: 20px;
}
